version: "3.9"

services:
  web:
    build: .
    env_file: .env
    restart: unless-stopped
    depends_on: []
    volumes:
      # зберігати БД/медіа/зібрані статики на хості
      - ./db.sqlite3:/app/db.sqlite3
      - ./media:/app/media
      - ./staticfiles:/app/staticfiles
    expose:
      - "8000"

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    depends_on:
      - web
    ports:
      - "80:80"
    volumes:
      - ./deploy/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./staticfiles:/staticfiles:ro
      - ./media:/media:ro
